@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}
<div>
    <div class="columns">
        <div class="column col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to Mimoto
                <small>(version @version)</small>
            </h1>
        </div>
    </div>

    <div class="columns">
        <div class="column col-sm-8">
            <p>
                Use the sign in button on the top right to sign in.
            </p>
        </div>
    </div>
</div>